@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit a Quotes";

    var width = "";
    var depth = "";
    var date = DateTime.Now;
    var materials = "";
    var drawers = "";
    var name = "";
    var rush = "";
    var deskId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            deskId = Request.QueryString["ID"];
            var db = Database.Open("MegaDesk");
            var dbCommand = "SELECT * FROM Desk WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, deskId);

            if (row != null)
            {
                width = row.Width;
                depth = row.Depth;
                //date = row.Date;
                materials = row.Materials;
                drawers = row.Drawers;
                name = row.Name;
                rush = row.Rush;
            }
            else
            {
                Validation.AddFormError("No Quotes was selected.");
                // If you are using a version of ASP.NET Web Pages 2 that's
                // earlier than the RC release, comment out the preceding
                // statement and uncomment the following one.
                //ModelState.AddFormError("No movie was selected.");
            }
        }
        else
        {
            Validation.AddFormError("No Quotes was selected.");
            // If you are using a version of ASP.NET Web Pages 2 that's
            // earlier than the RC release, comment out the preceding
            // statement and uncomment the following one.
            //ModelState.AddFormError("No movie was selected.");
        }
    }

    if (IsPost)
    {
        Validation.RequireField("Width", "You must enter a width");
        Validation.RequireField("Depth", "Height is required");
        Validation.RequireField("Materials", "Choose a material");
        Validation.RequireField("Drawers", "You haven't entered How many drawers");
        Validation.RequireField("Name", "Please enter a name");
        Validation.RequireField("Rush", "How fast do you want it?");
        Validation.RequireField("deskid", "No desk ID was submitted");

        width = Request.Form["width"];
        depth = Request.Form["depth"];

        materials = Request.Form["materials"];
        drawers = Request.Form["drawers"];
        name = Request.Form["name"];
        rush = Request.Form["rush"];

        deskId = Request.Form["deskId"];

        if (Validation.IsValid()){
            var db = Database.Open("MegaDesk");
            var updateCommand = "UPDATE Desk SET Width=@0, Depth=@1, Materials=@2, Date=@3, Drawers=@4, Name=@5, Rush=@6 WHERE Id=@7";
            db.Execute(updateCommand, width, depth, materials, date, drawers, name, rush, deskId);
            Response.Redirect("~/MegaMind");
        }
    }
}

<h2>Edit a Quote</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Quote Information</legend>

        <p>
            <label for="name">Name:</label>
            <input type="text" name="name" value="@Request.Form["name"]" />
            @Html.ValidationMessage("name")

       
        <p>
            <label for="width">Width:</label>
            <input type="number" name="width" value="@Request.Form["width"]" min="24" max="96" size="2" maxlength="2" />
            @Html.ValidationMessage("width")

        <p>
            <label for="depth">Depth:</label>
            <input type="number" name="depth" value="@Request.Form["depth"]"  min="12" max="48" size="2" maxlength="2"/>
            @Html.ValidationMessage("depth")

        <p>
            <label for="materials">Materials:</label>
            <input type="text" name="materials" value="@Request.Form["materials"]" />
            @Html.ValidationMessage("materials")
        <p>
            <label for="drawers">Drawers:</label>
            <input type="number" name="drawers" value="@Request.Form["drawers"]"  min="0" max="7" size="1" maxlength="1"/>
            @Html.ValidationMessage("drawers")

        <p>
            <label for="rush">Rush:</label>            
            <input type="text" name="rush" value="@Request.Form["rush"]" />
            @Html.ValidationMessage("rush")

        <p />

<p />
        <input type="hidden" name="deskid" value="@deskId" />
        <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>

    </fieldset>
</form>
<p><a href="~/MegaMind.cshtml">Return to Quote listing</a></p>
